# Archivos de cache de Python
__pycache__/
*.pyc

# Archivos PDF generados (opcional, pero recomendado)
*.pdf

# Entornos virtuales
.venv/
virtual/
venv/
env/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
